.cardWrapper {
  height: 100%;
  padding: 4px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none !important;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --Paper-shadow: none !important;
}

/* .card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12) !important;
} */

.imageContainer {
  position: relative;
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.imageSkeleton {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cardImage {
  transition: transform 0.3s ease;
  border-radius: 1.5rem !important;
  height: 100%;
}

/* .card:hover .cardImage {
  transform: scale(1.03);
} */

.imagePlaceholder {
  width: 100%;
  height: 180px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholderIcon {
  color: #9e9e9e;
  font-size: 3rem;
}

.cardContent {
  padding: 16px !important;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
  font-family: 'Inter', sans-serif;
}

.cardContent h5 {
  font-size: 1.5rem;
  text-align: left !important;
  font-weight: 500;
  color: rgba(34, 34, 34, 1);
}

.cardContent .cardLocation {
  font-size: 1rem;
  color: rgba(98, 129, 233, 1);
  margin-top: 0.5rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.cardTitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardLocation {
  color: #666;
  margin-bottom: 12px;
}

.cardTimeline {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 8px;
  display: flex;
}

.cardTimeline .cardTimelineText {
  margin-left: 4px;
  color: rgba(84, 84, 84, 1);
  font-weight: 500;
  background: rgba(242, 242, 242, 1);
  font-size: 1.05rem;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
}

.cardTimeline .cardTimelineText:first-of-type {
  margin-right: 0.5rem;
  margin-left: 0.7rem;
}

.cardSchedule {
  color: #666;
  margin-bottom: 16px;
  flex-grow: 1;
}

.scheduleLabel {
  font-weight: 500;
  color: #444;
}

.buttonContainer {
  margin-top: auto;
}

.cardButton {
  border-radius: 6px !important;
  padding: 6px 12px !important;
  font-size: 0.85rem !important;
  text-transform: none !important;
  transition: all 0.2s ease !important;
}

.highlight {
  background-color: #fff9c4;
  padding: 0 2px;
  border-radius: 2px;
}

.card .cardContent h5 {
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  /* .imageContainer,
  .imagePlaceholder {
    height: 200px;
  } */

  .cardTitle {
    font-size: 1.1rem;
  }

  .cardWrapper {
    padding: 1px;
  }
}

/* @media (min-width: 900px) {
  .imageContainer,
  .imagePlaceholder {
    height: 220px;
  }
} */
