/* using the import for the fonts to follow the DRY principle */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Base Styles & Typography */
:root {
  --primary-color: #1976d2;
  --secondary-color: #50e3c2;
  --text-color-dark: #222222;
  --text-color-light: #22222299;
  --bg-color-light: #f7fafc;
  --card-bg-color: #ffffff;
  --border-color: #e0e0e0;
  --shadow-light: 0px 0px 30px 0px #0000000d;
  --border-radius: 12px;
  --font-inter: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter) !important;
}

/* Optional: Add smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Set default font */
body {
  background-color: var(--bg-color-light);
  color: var(--text-color-dark);
  line-height: 1.6;
  overflow-x: hidden;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.2rem !important;
}

a {
  text-decoration: none !important;
}

.container {
  width: 85%;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 14px;
  }
}
